@model ColegioSanJose.Models.Materia

@{
    ViewData["Title"] = "Crear Materia";
}

<h2>Crear Materia</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="NombreMateria" class="form-label">Nombre de la materia</label>
        <input asp-for="NombreMateria" class="form-control" />
        <span asp-validation-for="NombreMateria" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Docente" class="form-label">Docente</label>
        <input asp-for="Docente" class="form-control" />
        <span asp-validation-for="Docente" class="text-danger"></span>
    </div>

        
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}